<div style="margin-left:100px">
<%=@quiz.title%>
</div>
<div>
<%=@quiz.question%>
</div>
<div style="margin-left:100px">
<div>
<a href="/quizzes/result/<%=@quiz.id%>/1" class="btn btn-secondary btn-lg"><%=@quiz.choice_1%></a>
</div>
<div>
<a href="/quizzes/result/<%=@quiz.id%>/2" class="btn btn-secondary btn-lg"><%=@quiz.choice_2%></a>
</div>
<div>
<a href="/quizzes/result/<%=@quiz.id%>/3" class="btn btn-secondary btn-lg"><%=@quiz.choice_3%></a>
</div>
<div>
<a href="/quizzes/result/<%=@quiz.id%>/4" class="btn btn-secondary btn-lg"><%=@quiz.choice_4%></a>
</div>
</div>
